.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100px;
  height: 100px;
  margin: 4px 5px;
}

.img-link {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  margin: 4px 5px;
}

.img-link > span {
  position: absolute;
  left: 10px;
  color: white;
  font-weight: bold;
  top: 0px;
  font-size: 1em;
}
